.header {
  padding: 1.2rem 4rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  h2 {
    color: hsl(200, 15%, 8%);
    font-size: 1.8rem;
    font-weight: 800;
    @media screen and (max-width: 700px) {
      text-align: center;
    }
  }
}
