@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
a {
  text-decoration: none;
  color: hsl(200, 15%, 8%);
}
body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 62.5%;
}
button {
  border: none;
  background-color: inherit;
  font-size: 1.2rem;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 0.4rem;
  cursor: pointer;
}
button:hover,
button:active {
  background-color: rgb(242, 242, 242);
}
